<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="home"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signin">Signin</a>
      </li>

    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-2 col-md-2"></div>
  <div class="col-8 col-md-8" style="margin-top:20px;">
    <form>
      <div class="form-group">
        <label for="exampleInputemail">Phone Number</label>
        <input type="text" [(ngModel)]="phoneNo" class="form-control" placeholder="Phone No (078 0901627)" name="phoneNo" />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" name="password" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" [(ngModel)]="confirmpassword" class="form-control" placeholder="Confirm Password"
          name="confirmpassword" />
      </div>
      <button type="submit" class="btn btn-primary" (click)="data()">Submit</button>
    </form>
    <h1>{{newPost}}</h1>
  </div>

  <div class="col-2 col-md-2"></div>
</div>
